{% extends './base.html' %}
{% load static %}

{% block title %}
<title> HYTODO : HOME </title>
{% endblock title %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'home.css' %}">
{% endblock css %}




{% block content %}
<div class="all">
    <div class="main-content">
        <h2>오늘 할 일 전체 목록</h2>
        <div class="flex-box">
        {% for post in posts %}
        <div class="post-box">
                <a href="{% url 'detail' post.pk %}">{{post.title}}</a>
                <span>D-{{post.remain}}</span>
                <input type="checkbox" name="check">

            <p>{{post.content}}</p>
        </div>
        {% endfor %}
        </div>
    </div>
        <p>*제목을 클릭하면 할 일을 상세하게 볼 수 있습니다.</p>
        <button><a href="{% url 'new' %}">할 일 추가</a></button>
</div>
{% endblock content %}